
*{
margin:0px;
padding:0px;}

.menu{
height:20px;
width:20px;}

.header{
height:110px;
text-decoration:none;
background-color:rgba(0,0,0,0.0);}

.logo{
height:100px;
width:auto;
width:150px;}

.nav{
float:right;}

.nav li{
float:right;
text-decoration:none;
list-style:none;
padding-right:15px;}

.nav li a{
text-transform:capitalize;
font-weight:bold;
background-color:;
text-decoration:none;
font-size:16px;
border:thick;
border-radius:5px;
padding:10px;
color:#FF6600;}

.nav li :hover{
color:#FFFFFF;
background-color:#FF6600;}

.ss{
padding-right:25px;}

.ss a{
text-decoration:underline;
text-transform:capitalize;
padding-right:25px;
padding:10px;
padding-top:5px;
padding-bottom:5px;
color:#FF6600;
font-size:15px;
font-weight:bold;}

.slider{

position:relative;
width:100%;
height:550px;
background-color:rgba(0,0,0,0.9);}

.slider-box{
width:350px;
height:200px;
background-color:rgba(0,0,0,0.5);
border-bottom:dashed;
border-bottom-width:5px;
border-bottom-color:#FF9900;
font-size:18px;
color:#FFFFFF;
position:absolute;
left:50px;
top:300px;}

.slider-pic{
width:350px;
height:200px;
position:absolute;
right:200px;
top:250px;}

.slider-box h3{
text-transform:capitalize;
margin:10px;}

.slider-box p{
text-transform:lowercase;
text-align:justify;
overflow:hidden;
padding:3px;
margin-left:5px;
margin-right:5px;}

.intro{
font-size:18px;}

.slogen{
background-color:#FFFFFF;
text-align:center;
width:100%;
font-size:38px;
text-decoration:none;
height:100px;
font-family:Georgia, "Times New Roman", Times, serif;}

.midline{
height:120px;
padding-top:0px;
padding-bottom:0px;}

li{
padding-left:10px;}

h1{
padding-left:10px;}

.pay{
text-align:center;
padding-top:0px;
margin-top:0px;}

.smile{
font-size:30;
margin-top:40px;
font-weight:200;
width:100%;
height:100px;
text-align:center;}

.pppp{
color:#FF3300;
font-size:30px;}

.pp{
margin-left:70px; // checked 
font-size:18px}

.ppp{
color:#FF3300;
margin-top:0px;
margin-left:00px;
font-size:36px;}

.photos{
max-width:100%; 
height:500px;}

.photos td{
background-color:#FFFFFF;
height:100px;}

.photos td h1{
text-align:center;
text-transform:capitalize;}

.pic{
width:325px;
height:200px;
border-radius:30px 0px 30px 0px;}

.picc{
width:325px;
height:200px;
border-radius:0px 30px 0px 30px;}



.hline{
border:dashed;
border-bottom-color:#8E8F89;
margin-left:50px;
margin-right:50px;}

.sicon{
height:50px;
width:50px;
margin-left:20px;
margin-right:20px;
cursor:pointer;}


.btn{
border:thick;
border-color:#FF6600;}
.btn li{
list-style:none;
text-align:center;}
.btn li a{
background-color:#FF6600;
text-decoration:none;
color:#FFFFFF;
text-transform:capitalize;
font-size:10px;
border:thick;
border-radius:5px;
padding:10px;
}


@ media  screen and(max-width:600px)

*{
margin:0px;
padding:0px;}

.menu{
height:20px;
width:20px;}

.header{
padding-top:0px;
height:105px;
text-decoration:none;
background-color:rgba(0,0,0,0.0);}

.logo{
height:70px;
width:80px;}

.nav{
float:right;}

.nav li{
float:right;
text-decoration:none;
list-style:none;
padding-right:5px;}

.nav li a{
text-transform:capitalize;
font-weight:bold;
background-color:;
text-decoration:none;
font-size:12px;
border:thick;
border-radius:5px;
padding:5px;
color:#FF6600;}

.nav li :hover{
color:#FFFFFF;
background-color:#FF6600;}



.slider{

position:relative;
width:100%;
height:350px;
background-color:rgba(0,0,0,0.9);}

.slider-box{
width:300px;
height:175px;
background-color:rgba(0,0,0,0.5);
border-bottom:dashed;
border-bottom-color:#FF9900;
font-size:18px;
color:#FFFFFF;
position:absolute;
left:50px;
top:200px;}

.slider-pic{
width:350px;
height:200px;
position:absolute;
right:200px;
top:250px;}

.slider-box h3{
text-transform:capitalize;
margin:10px;}

.slider-box p{
text-transform:lowercase;
text-align:justify;
overflow:hidden;
padding:3px;
margin-left:5px;
margin-right:5px;}

.intro{
font-size:14px;}

.slogen{
background-color:#FFFFFF;
text-align:center;
width:100%;
font-size:24px;
text-decoration:none;
height:100px;
font-family:Georgia, "Times New Roman", Times, serif;}

.midline{
height:120px;
padding-top:0px;
padding-bottom:0px;}

li{
padding-left:10px;}

h1{
padding-left:10px;}

.pay{
text-align:center;
padding-top:0px;
margin-top:0px;}

.smile{
font-size:30;
margin-top:40px;
font-weight:200;
width:100%;
height:100px;
text-align:center;}

.pppp{
color:#FF3300;
font-size:22px;}

.pp{
margin-left:20px; // checked 
font-size:5px;}

.ppp{
color:#FF3300;
margin-top:0px;
margin-left:00px;
font-size:24px;}

.photos{
max-width:100%; 
height:500px;}

.photos td{
background-color:#FFFFFF;
height:100px;}

.photos td h1{
text-align:center;
text-transform:capitalize;}

.pic{
width:195px;
height:150px;
border-radius:30px 0px 30px 0px;}

.picc{
width:195px;
height:150px;
border-radius:0px 30px 0px 30px;}



.hline{
border:dashed;
border-bottom-color:#8E8F89;
margin-left:50px;
margin-right:50px;}

.sicon{
height:50px;
width:50px;
margin-left:20px;
margin-right:20px;
cursor:pointer;}

.btn{
border:thick;
border-color:#FF6600;}
.btn li{
list-style:none;
text-align:center;}
.btn li a{
background-color:#FF6600;
text-decoration:none;
color:#FFFFFF;
text-transform:capitalize;
font-size:10px;
border:thick;
border-radius:5px;
padding:10px;
}





*/




